In [2]:
import re
import pandas as pd
df = pd.read_csv('../data/hr_dataset.csv') #type: ignore

In [3]:
# Removendo colunas constantes
df_01 = df.drop(columns=['EmployeeCount', 'Over18', 'StandardHours'], axis=1).copy()

In [4]:
# Transformando 'Yes' | No da coluna atrition em '0' | '1'
replace_values = {
    'Attrition': {'Yes': 1, 'No': 0},
    'OverTime': {'Yes': 1, 'No': 0},
    'Gender': {'Male': 1, 'Female': 0}
}
df_01.replace(replace_values, inplace=True)

C:\Users\Vinicius\AppData\Local\Temp\ipykernel_13728\3853291871.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_01.replace(replace_values, inplace=True)

In [5]:
# renomeando as colunas para o padr√£o snake_case
df_final = df_01.rename(columns={cols: re.sub(r'(?<!^)(?=[A-Z])|(?<=[a-zA-Z])(?=\d)', '_', cols).lower() for cols in df.columns})

df_final.dtypes

age                            int64
attrition                      int64
business_travel               object
daily_rate                     int64
department                    object
distance_from_home             int64
education                      int64
education_field               object
employee_number                int64
environment_satisfaction       int64
gender                         int64
hourly_rate                    int64
job_involvement                int64
job_level                      int64
job_role                      object
job_satisfaction               int64
marital_status                object
monthly_income                 int64
monthly_rate                   int64
num_companies_worked           int64
over_time                      int64
percent_salary_hike            int64
performance_rating             int64
relationship_satisfaction      int64
stock_option_level             int64
total_working_years            int64
training_times_last_year       int64
work_life_balance              int64
years_at_company               int64
years_in_current_role          int64
years_since_last_promotion     int64
years_with_curr_manager        int64
dtype: object

In [9]:
df_final.to_csv('../data/hr_dataset_silver.csv', index=False) #type: ignore

df_final.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
attrition,1470.0,0.161224,0.367863,0.0,0.00,0.0,0.00,1.0
daily_rate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
distance_from_home,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
employee_number,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
environment_satisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
gender,1470.0,0.600000,0.490065,0.0,0.00,1.0,1.00,1.0
hourly_rate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
job_involvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
job_level,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
job_satisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
monthly_income,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
monthly_rate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
num_companies_worked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
over_time,1470.0,0.282993,0.450606,0.0,0.00,0.0,1.00,1.0
percent_salary_hike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
performance_rating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
relationship_satisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
stock_option_level,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
total_working_years,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
training_times_last_year,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
work_life_balance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
years_at_company,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
years_in_current_role,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
years_since_last_promotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
years_with_curr_manager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0